.event-table {
  grid-template-columns: 20px repeat(3, 1.1fr) repeat(2, .9fr) 1.1fr;
}

@media screen and (max-width: 720px) {
  .event-table-wrapper {
    overflow: scroll;
    min-width: 800px;
  }
}