.stake-modal {

  &__nft-position {
    display: inline-flex;
    position: relative;
    transition-duration: .2s;
    border: 1px solid var(--primary-disabled);

    &[data-selected=true] {
      border-color: var(--primary);
    }

    &__description {
      line-height: 22px;
    }

    &__circle {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 8px;
      right: 8px;
      border-radius: 50%;
      transition-duration: .2s;
      border: 1px solid var(--primary-disabled);


      &[data-selected=true] {
        border-color: var(--primary);
        background-color: var(--primary);

        svg {
          opacity: 1;
        }
      }

      svg {
        transition-duration: .2s;
        opacity: 0;
      }
    }
  }
}