.card-wrapper {
  position: relative;
  background-color: #121e2a;
}

.card-gradient-shadow {
  box-shadow: rgb(150 77 210 / 12%) 0px 2px 60px 0px;
}

.dark {
  background-color: var(--dark-ebony-clay);
}
.light {
  background-color: var(--ebony-clay);
}