.range {
    &__notification {
        position: relative;
        margin-top: -2rem;
        padding: 8px;
        background-color: #290505;
        color: #f31b1b;
        border-top: 1px solid #580d0d;
        border-radius: 0 0 8px 8px;
        text-align: center;
    }
}