.menu {

  &-wrapper {
    border-bottom: 1px solid var(--ebony-clay-light);
  }

  &-list {
  display: flex;

  &-item {
    display: flex;
    color: var(--light-gray);
    padding-bottom: 19px;
    
    svg {
      margin-right: 7px;
    }
    
    &:hover {
      color: white;
      opacity: 1;
    }

    &--active {
      color: var(--primary);
      cursor: default;
      opacity: 1;
      border-bottom: 1px solid var(--primary);

      &:hover {
        color: var(--primary);
        opacity: 1;
      }
    }

  }
  &-refresh {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &[data-refreshing=true] {
      animation: spin infinite 3s;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}
}

@media screen and (max-width: 500px) {
  .menu-list {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
  }
}
