.pool-stats {

    &__fee, &__apr {
        padding: 6px 12px;
        font-size: 18px;
        border-radius: 6px;
    }

    &__fee {
        background-color: cyan;
    }
    
    &__apr {
        background-color: olive;
    }
}