.pool-stats {

    &__title {
        padding: 8px 10px;
    }

    &__fee, &__apr {
        padding: 8px 10px;
        font-size: 16px;
    }

    &__fee {
        background-color: cyan;
    }
    
    &__apr {
        background-color: olive;
    }
}