.stepper {
    &__circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: blue;
        
        &.done {
            background-color: seagreen;
        }
    }
}