.stepper {
    &__circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: white;
        color: black;
        font-size: 13px;
        
        &.done {
            background-color: #26a626;
            color: white;
        }
    }
}