.mock-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.grid-pools-table {
  grid-template-columns: 20px 2.3fr repeat(5, 1fr);
}

.link {
  display: flex;
  text-decoration: none;

  svg {
    margin-left: .5rem;
  }
}

.fee-badge {
  width: fit-content;
  border-radius: 5px;
  background: var(--primary);
  color: var(--white);
  padding: 4px 6px;
  font-weight: 400;
}

.farming-link {
  text-decoration: none;
  &[data-apr=true] {
    background-color: var(--primary);
    padding: 4px;
    border-radius: 3px;
    color: var(--white);
    text-decoration: underline;
  }
}

.chart-link {
  padding: .1rem;
  border-radius: 5px;
  background-color: var(--primary-disabled);
}



@media screen and (max-width: 720px) {
  .pools-table-wrapper {
    overflow: scroll;
    min-width: 800px;
  }
}