.preset-ranges {

            display: flex;
            flex-wrap: wrap;
        
            &-wrapper {
                border-left: 2px solid rgb(85, 112, 131);
            }

            &__button {
                border: none;
                border-radius: 4px;
                padding: 4px 8px;
                background-color: #182732;
                color: white;
                border: 1px solid #254476;

                &.active {
                    border-color: #419fe8;
                }

                &:hover {
                    background-color: #2a4559;
                }
            }
}