.farmings-page {
  &__loader {
    height: 400px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px){
  .farmings-page {

    &__row {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}