@import "src/assets/styles/index";
.staker-event-card {
  background-color: var(--ebony-clay);
  position: relative;

  &__reward {

    &-wrapper {
      background-color: var(--dark-ebony-clay);
      height: 164px;
  
      &-header {
        padding: 12px 1rem;
        background-color: #13222e;
        border-radius: 8px 8px 0 0;
      }
    }

    &-list {
      &-item {
        padding: 6px 1rem;
        border-bottom: 1px solid #273e50;

        &__symbol {
          line-height: 30px;
          font-size: 14px;
        }
      }
    }

    &-apr {
      background-color: #2C4B3B;
      color: #22dc22;
    }

  }

  &__plus {
    position: relative;

    div {
      position: absolute;
      left: calc(50% - 11px);
      top: -20px;
      background-color: var(--dark-gray);
      padding: 3px;
      border-radius: 50%;
    }
  }

  &__progress {
    margin-top: 3px;
    height: 16px;
    background-color: var(--white);

    div {
      height: 100%;
      background-color: var(--primary);
      transition-duration: 0.5s;
      @include skeleton-gradient()
    }
  }

  &__infinite-farming-available {
    &:hover {
      background-color: #51a6f6 !important;
    }
  }
}