.toolbar-btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--primary);
}

.info-chart-wrapper {
  background-color: var(--ebony-clay);
}

@media screen and (max-width: 500px) {
  .info-pool-header {
    flex-direction: column;
    text-align: start;
    align-items: start;
  }
}