.price-range {
    &-chart {
    flex: 2;
    background-color: var(--ebony-clay);
    }

    &-inputs {
        flex: 1;
        &[data-initial=true] {
            margin-left: 0;
        }
    }
}

.full-range-btn {
    
}

.fee-helper {
    
    &:hover {
        .fee-helper__inner {
            display: flex !important;
        }
    }

    &__inner {
        display: none !important;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 1rem;
            margin-top: -2rem;
            margin-left: -1rem;
            width: 100%;
        }
    }

}

@media screen and (max-width: 500px){
    .fee-helper {
        &__inner {
            top: -130px;
        }
    }
}