:root {
    --white: #fff;
    --black: #000;
    --violet: #6A54E1;
    --violet--light: #8576d7;
    --light_blue: #549fe1;
    --orange: #F0B90A;
    --cyan: #16CCE3;
    --pink: #D00F9D;
    --ebony-clay: #26343F;
}