.full-wh {
    width: 100%;
    height: 100%;
}

.full-w {
    width: 100%;
}

.full-h {
    height: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p {
    &-0 {
        padding: 0;
    }

    &t {
        &-0 {
            padding-top: 0;
        }

        &-05 {
            padding-top: 0.5rem;
        }

        &-1 {
            padding-top: 1rem;
        }

        &-2 {
            padding-top: 2rem;
        }

        &-3 {
            padding-top: 3rem;
        }
    }

    &r {
        &-0 {
            padding-right: 0;
        }

        &-05 {
            padding-right: 0.5rem;
        }

        &-1 {
            padding-right: 1rem;
        }

        &-2 {
            padding-right: 2rem;
        }

        &-3 {
            padding-right: 3rem;
        }
    }

    &b {
        &-0 {
            padding-bottom: 0;
        }

        &-05 {
            padding-bottom: 0.5rem;
        }

        &-1 {
            padding-bottom: 1rem;
        }

        &-2 {
            padding-bottom: 2rem;
        }

        &-3 {
            padding-bottom: 3rem;
        }
    }

    &l {
        &-0 {
            padding-left: 0;
        }

        &-05 {
            padding-left: 0.5rem;
        }

        &-1 {
            padding-left: 1rem;
        }

        &-2 {
            padding-left: 2rem;
        }

        &-3 {
            padding-left: 3rem;
        }
    }
}

.m {
    &l {
        &-0 {
            margin-left: 0;
        }

        &-05 {
            margin-left: 0.5rem;
        }

        &-1 {
            margin-left: 1rem;
        }

        &-2 {
            margin-left: 2rem;
        }

        &-a {
            margin-left: auto;
        }
    }

    &r {
        &-0 {
            margin-right: 0;
        }

        &-05 {
            margin-right: 0.5rem;
        }

        &-1 {
            margin-right: 1rem;
        }

        &-2 {
            margin-right: 2rem;
        }

        &-a {
            margin-right: auto;
        }
    }

    &t {
        &-0 {
            margin-top: 0;
        }

        &-05 {
            margin-top: 0.5rem;
        }

        &-1 {
            margin-top: 1rem;
        }

        &-2 {
            margin-top: 2rem;
        }

        &-a {
            margin-top: auto;
        }
    }

    &b {
        &-0 {
            margin-bottom: 0;
        }

        &-05 {
            margin-bottom: 0.5rem;
        }

        &-1 {
            margin-bottom: 1rem;
        }

        &-2 {
            margin-bottom: 2rem;
        }

        &-a {
            margin-bottom: auto;
        }
    }
}

.i-f {
    display: inline-flex;
}

.f {
    display: flex;
}

.f,
.i-f {
    &.c {
        flex-direction: column;
    }

    &.ac {
        align-items: center;
    }

    &.jc {
        justify-content: center;
    }

    &.jb {
        justify-content: space-between;
    }
}

.fl-r {
    float: right;
}