.hover {
  &-line {
    &:hover {
      text-decoration: underline;
    }
  }

  &-op {
    &:hover {
      opacity: 80%;
    }
  }

  &-b {
    &:hover {
      border-color: var(--primary-hover);
    }
  }

  &-c {
    &-ph {
      background-color: var(--primary-hover);
    }

  }
}