@import './colors';
@import './dimensions';
@import './helpers';
@import './normalize';
@import './reset';
@import './common';
@import './padding';
@import './width';
@import './media';
@import './buttons';
@import './typography';

body {
  overflow-x: hidden !important;
}


.br {
  &-8 {
    border-radius: 8px;
  }

  &-12 {
    border-radius: 12px;
  }

  &-24 {
    border-radius: 24px;
  }
}

.mr-f-05 {
  &:first-child {
    margin-right: .5rem;
  }
}

.ml-l-05 {
  &:last-child {
    margin-left: .5rem;
  }
}

.w-100 {
  width: 100%;
}

.rg {
  &-1 {
    row-gap: 1rem;
  }

  &-2 {
    row-gap: 2rem;
  }

  &-3 {
    row-gap: 3rem;
  }
}

.cg {
  &-1 {
    column-gap: 1rem;
  }

  &-2 {
    column-gap: 2rem;
  }

  &-3 {
    column-gap: 3rem;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}