@import './colors';
@import './dimensions';
@import './helpers';
@import './normalize';
@import './reset';
@import './common';
@import './typography';
@import './padding';
@import "width";

body {
    overflow-x: hidden !important;
}

.mobile-total-stats-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

@media (max-width: 950px) {
    .mobile-total-stats-wrapper {
        display: block;
    }    
}

.br-12 {
    border-radius: 12px;
}

.br-24 {
    border-radius: 24px;
}

.mr-f-05 {
    &:first-child {
        margin-right: .5rem;
    }
}

.ml-l-05 {
    &:last-child {
        margin-left: .5rem;
    }
}

.mb-1 {
    margin-bottom: 1rem;
}

.w-100 {
    width: 100%;
}
