.add-liquidity-page {
    background-color: #1c2a359e;
    padding: 2rem;
    border-radius: 8px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 0px 0px; 
    grid-template-areas:
    "header header header header header"
    "steps steps steps steps stepper"
    "steps steps steps steps stepper"
    "steps steps steps steps stepper";

    &__steps { 
      grid-area: steps;
   }

   &__step {
     &-circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #4ea3e5;
     }
     &-title {
      font-size: 18px;
     }
   }
  
    &__stepper { 
      grid-area: stepper;
      display: flex;
      padding-top: 2rem;
      justify-content: center;
   }

   &__header {
     grid-area: header;

     &-title {
       font-size: 25px;
     }
   }
}